<% if @template and @template.template_name == "Right Inside" %>
  <div class="right-inside-side-column">
    <h3>Side Column</h3>
    <%= 'Right Inside Position One Elements Here' %>
    <%= render 'elements/position_elements', :locals => {:position => 1} %>
  </div>
  <div class="right-inside-content">
    <h3>Content</h3>
    <%= 'Right Inside Position Two Elements Here' %>
    <%= render 'elements/position_elements', :locals => {:position => 2} %>
  </div>
<% end %>
