<div id="error_explanation">
  <h2>Home Page Not Detected!</h2>
  <p>Please create a new Home Page</p>
  <p><%= button_to 'Create Home Page', new_node_path(:home => "true"), :method => :get %></p>
</div>