<div id="require-home-error">
  <h2>Home Page Not Detected!</h2>
  <p>Please click the below button to create a new Home Page</p>
  <p><%= button_to 'Create Home Page', new_node_path(:home => "true") %></p>
</div>