<% if locals[:node] %>
  <% locals[:node].nodes.each do |node| %>
    <li>
      <%= link_to node.menu_name, shortcut_path(node.shortcut) %>
    </li>
    <% unless node.nodes.empty? %>
      <ul class="sub-submenu" id="<%= node.menu_name %>">
        <%= render 'layouts/submenu', :locals => {:node => node} %>
      </ul>
    <% end %>
  <% end %>
<% end %>